extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='code') Code:
      input#code.form-control(type='text', placeholder='Krystian etc.' name='code' value=(undefined===user ? '' : user.code))
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg